$colororange:rgb(226, 122, 3);
$colorblue:#4466c9;
$colorwhite:#fff;
$titlecolor:#648cff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

// body {
// background: url('../images/bodybg.png') ;
// 
// 
// 
// 
// 
// 
// 
// }
// 





#home {

    #check {
        display: none;
    }

    width: 100%;
    height: 100vh;
    background: url('../images/homebg.png') no-repeat top center;
    background-size: cover;
    position: relative;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border-bottom-width: 10px;
    z-index: 1;

    .navbar {
        display: flex;
        height: 90px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        position: sticky;
        top: 0;

        label {
            display: none;
        }

        &::before {
            content: "";
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            height: 100%;
            width: 100%;
            z-index: -1;


        }




        .nav {

            ul {
                display: flex;
                list-style: none;

                li {
                    font-size: 1.1rem;

                    a {
                        text-align: center;
                        color: #fff;
                        font-weight: bold;
                        text-decoration: none;
                        padding: 0 20px;

                    }
                }







            }
        }

        .social-media {
            i {
                padding: 0 15px;
                color: #fff;
            }
        }
    }



    .content {
        display: flex;
        width: 100%;
        height: 70vh;
        text-align: center;
        margin: 80px 60px;

        .title {
            margin-top: 30px;
            width: 40%;

            .btndown {
                border-radius: 15px;
                border: none;
                color: white;
                font-size: 13px;
                letter-spacing: 1.5;
                line-height: 25px;
                margin-top: 40px;
                padding: 15px 30px;
                margin-left: 20px;
                font-weight: bold;
                background-color: rgb(226, 122, 3);
                transition: 0.3s;

                &:hover {
                    background-color: #fff;
                    color: rgb(226, 122, 3);
                }

            }

            .btnfeatures {
                border-radius: 15px;
                font-weight: bold;
                border: none;
                color: white;
                font-size: 13px;
                letter-spacing: 1.5;
                line-height: 25px;
                margin-top: 40px;
                padding: 15px 30px;
                margin-left: 20px;
                background-color: #4466c9;
                transition: 0.3s;

                &:hover {
                    background-color: #fff;
                    color: #4466c9;
                }

            }



            h1 {

                font-size: 4rem;
                font-weight: 900;
                line-height: 4.5rem;
                color: #fff;
            }


        }

        .home-phone {
            width: 40%;

            img {
                width: 70%;
            }
        }




    }
}

#features {


    width: 100%;


    .title {
        margin-top: 60px;
        text-align: center;

        .title1 {
            font-size: 36px;
            font-weight: 700;
            color: $titlecolor;
            line-height: 75px;

        }

        p {
            color: gray;
            font-size: 20px;
            font-weight: 550;
        }
    }

    .feature-icon {
        margin: 70px 120px;
        display: flex;
        flex-direction: row;
        align-content: stretch;
        justify-content: center;

        .features-item {
            display: flex;
            height: 150px;
            width: 380px;

            .text {

                h1 {
                    margin: 20px 0;
                    font-size: 30px;
                    font-weight: 600;

                }
            }

            .icon {
                color: orangered;
                margin: 10px 40px;
                font-size: 50px;
            }
        }



    }
}

#slider {

    padding-top: 15px;
    margin-left: -15px;
    margin-right: -15px;




    .accordion {
        padding-top: 170px;
        width: 100%;
        max-width: 1000px;

        overflow: hidden;
        margin: 20px auto;

        ul {
            height: 600px;
            width: 100%;
            display: table;
            table-layout: fixed;
            margin: 0;
            padding: 0;

            li {
                display: table-cell;
                vertical-align: bottom;
                position: relative;
                width: 54%;
                height: 50px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                transition: all 500ms ease;

                &:nth-child(1) {

                    background-image: url("../images/drag1.png");
                }

                &:nth-child(2) {
                    background-image: url("../images/drag2.png");
                }

                &:nth-child(3) {
                    background-image: url("../images/drag3.png");
                }

            }
        }

        /*ul*/
        &:hover {
            li {
                width: 10%;

                &:hover {
                    width: 10.8%;

                    a {
                        background: rgba(0, 0, 0, 0.4);

                        * {
                            opacity: 1;
                            transform: translateX(0);
                        }
                    }
                }
            }
        }
    }
}

#screenshots {
    padding-top: 40px;

    .s-title {
        text-align: center;

        h1 {
            font-size: 36px;
            font-weight: 700;
            color: $titlecolor;
            line-height: 75px;
        }

        p {
            color: gray;
            font-size: 20px;
            font-weight: 550;
        }
    }

    .phones {

        .screeniconscoludly {

            z-index: 1;
            color: black;
            font-size: 12px;
            background-color: yellow;
            position: absolute;
            border-radius: 100%;
            padding: 30px 10px;
            left: 620px;
        }

        .screendereceicon {

            z-index: 1;
            color: black;
            font-size: 12px;
            background-color: yellow;
            position: absolute;
            border-radius: 100%;
            padding: 30px 30px;
            left: 290px;

        }

        display: flex;
        margin: 0px 10px;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .left-col {
            width: 20%;
            margin: 0 80px;

            .icocloudly {
                z-index: -1;
                color: #fff;
                font-size: 12px;
                background-color: $colororange;
                position: absolute;
                border-radius: 100%;
                padding: 30px 20px;


            }

            .cloicon {

                font-size: 11rem;
                font-weight: 300;
                transform: rotate(90deg);
                position: relative;
                color: rgb(221, 221, 221);
                z-index: -1;
                left: 150px;
                top: 200px;

            }

            .rainyicon {
                top: 300px;
                left: 170px;
                font-size: 14.6rem;
                font-weight: 300;
                transform: rotate(90deg);
                position: relative;
                color: #ddd;
                z-index: -1;
            }


            img {


                align-items: center;
            }

            .l-icon {
                margin: 30px 0;

            }

            .l-title {
                h1 {
                    font-size: 36px;
                    margin: 15px 0;
                    letter-spacing: 1.5px;
                }

                p {
                    color: gray;
                    font-size: 20px;
                    font-weight: 550;
                }
            }


        }

        .right-col {
            margin: 0 80px;
            width: 20%;

            .sunnyicon {
                top: 264px;
                right: -179px;
                font-size: 14.6rem;
                font-weight: 300;
                transform: rotate(90deg);
                position: relative;
                color: #ddd;
                z-index: -1;







            }


            .r-icon {
                margin: 30px 0;


            }

            .title {
                h1 {
                    font-size: 36px;
                    margin: 15px 0;
                    letter-spacing: 1.5px;
                }

                p {
                    color: gray;
                    font-size: 20px;
                    font-weight: 550;
                }
            }
        }
    }
}

#reviews {
    height: 100%;
    padding-top: 120px;

    .r-title {

        text-align: center;

        h1 {
            font-size: 36px;
            font-weight: 700;
            color: $titlecolor;
            line-height: 75px;
        }

        p {
            color: gray;
            font-size: 20px;
            font-weight: 550;
        }
    }

    .rewis {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        justify-content: center;
        margin: 0 50px;

        .rewi-item {
            margin: 5px 60px;
            width: 35%;

            .text {
                margin: 20px 0;
                font-size: 1.500rem;
                line-height: 2rem;
                font-weight: 800;
            }

            .names {
                font-size: 1.2rem;
                font-weight: bold;
            }

            .sol-tirnak {
                font-size: 2rem;
                color: $titlecolor;

            }

            .sag-tirnak {
                font-size: 2rem;
                display: block;
                position: relative;
                left: 350px;
                color: $titlecolor;






            }
















        }
    }
}

#download {

    margin-top: 40px;
    width: 100%;
    height: 100%;
    background-image: url("../images/downloadbg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .d-content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;




        .title {
            padding-top: 100px;
            padding-bottom: 100px;
            width: 40%;
            text-align: center;

            h1 {
                font-size: 36px;
                font-weight: 700;
                color: $colorwhite;
                line-height: 30px;
                margin: 20px 0;
            }

            p {
                text-align: center;
                height: 60px;
                color: $colorwhite;
                font-size: 18px;
                font-weight: 700;
            }
        }

        .image {
            width: 40%;

            img {
                position: relative;
                bottom: -69px;
                width: 70%;
                margin-top: 70px;
            }
        }


    }
}

footer {
    #check {
        display: none;
    }

    width: 100%;
    height: 100%;
    z-index: -1;

    .navbar {
        display: flex;
        height: 90px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        position: sticky;
        top: 0;

        label {
            display: none;
        }

        &::before {
            content: "";
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            height: 100%;
            width: 100%;
            z-index: -1;
        }

        .nav {
            ul {
                display: flex;
                list-style: none;

                li {
                    font-size: 1.1rem;

                    a {
                        text-align: center;
                        color: rgb(175, 171, 171);
                        font-weight: bold;
                        text-decoration: none;
                        padding: 0 20px;
                    }
                }
            }
        }

        .social-media {
            i {
                padding: 0 15px;
                color: rgb(175, 171, 171);
            }
        }
    }

    .created {
        padding: 80px 0;
        background-color: rgba(0, 0, 0, 0.5);

        h1 {

            text-align: center;
            font-size: 1rem;
        }
    }






    .divider {
        text-align: center;

        height: 1px;
        background-color: #434769;

    }
}

@import "../res/laptop1024.scss";
@import "../res/tablet.scss";
@import "../res/mobileL.scss";
@import "../res/mobileM.scss";



