@media screen and(max-width:500px) {

    #home {
        height: 120vh;
        width: 100%;

        .container {
            .content {
                display: flex;
                width: 100%;
                height: 70vh;
                flex-direction: column;
                text-align: center;
                margin: 0;
                align-items: center;

                .home-phone {
                    margin: 60px;
                    align-items: center;
                    width: 68%;


                }

                .title {
                    width: 60%;
                }
            }
        }
    }

    #features {


        width: 100%;

        .feature-icon {

            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            padding: 0;




        }
    }

    #slider {
        .accordion {

            width: 460px;
            height: 300px;



            ul {
                height: 286px;

                li {
                    width: 60px;

                    &:nth-child(1) {

                        width: 50px;





                    }

                    &:nth-child(2) {

                        width: 50px;





                    }

                    &:nth-child(3) {

                        width: 50px;




                    }
                }
            }

            &:hover {
                ul {
                    li {
                        width: 0px;

                        &:hover {
                            width: 0px;
                        }
                    }
                }
            }
        }
    }

    #screenshots {




        .phones {
            padding: 36px 0px;

            .screeniconscoludly {
                left: 310px;
            }

            .screendereceicon {

                left: 48px;

            }

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            align-content: stretch;


            .left-col {
                align-self: center;
                width: 100%;
                text-align: center;

                .icocloudly {
                    z-index: -1;
                    color: #fff;
                    font-size: 12px;
                    background-color: $colororange;
                    position: absolute;
                    border-radius: 100%;
                    padding: 30px 20px;

                }

                .cloicon {
                    font-size: 10rem;
                    left: 171px;
                    top: 338px;

                }

                .rainyicon {
                    top: 398px;
                    left: 162px;


                }

                img {


                    align-items: center;
                }

                .l-title {
                    margin-right: 26px;
                }


            }

            .right-col {
                margin: 0;

                align-self: center;
                width: 100%;
                text-align: center;


                .sunnyicon {
                    top: 372px;
                    right: -175px;
                    font-size: 13.6rem;


                }




                .title {
                    width: 457px;

                }
            }
        }
    }

    #reviews {
        .rewis {
            .rewi-item {
                .sag-tirnak {
                    left: 250px;
                }
            }
        }
    }

    #download {
        .d-content {
            display: flex;
            flex-direction: column;

            .title {
                width: 95%;
                text-align: center;
                padding: 0;

                p {
                    margin: 50px 0;
                }
            }

            .image {
                width: 85%;
                align-self: center;

                img {
                    bottom: -5px;
                    width: 100%;
                    margin-top: 116px;
                }
            }
        }
    }

}